html,
body {
  background-color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
  color: black;
}

#main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

#face-editor input {
  display: block;
  width: 50vmin;
  height: 50vmin;
  text-decoration: none;
  border: black 4px solid;
  border-radius: 100%;
  padding: 10px;
  font-size: 20vmin;
  text-align: center;
}

#face-editor #face-actions {
  display: flex;
  justify-content: space-between;
}

#face-editor button {
  background-color: #111216;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

#face-editor button:hover {
  background-color: #424655;
}
